version: "3.1"

services:
  shoes_api:
    container_name: 'shoes-api-atlantica-conf-2023'
    platform: 'linux/amd64'
    build:
      context: .
      dockerfile: ./docker/shoes-api/Dockerfile
    environment:
      - PIPENV_PIPFILE=/app/apps/shoes/Pipfile
    volumes:
      - .:/app/apps/shoes/
      - ../../Makefile:/app/Makefile
      - ../../shared/:/app/shared/
      - ../../shoes/:/app/shoes/
      - ../../tests/:/app/tests/
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - message_broker
  mysql:
    image: mysql:8.0.33
    platform: 'linux/amd64'
    container_name: 'shoes-api-mysql-atlantica-conf-2023'
    command: mysqld --sql_mode="NO_ENGINE_SUBSTITUTION"
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=shoes_api
      - MYSQL_USER=shoes_master
      - MYSQL_PASSWORD=can_do_all
    ports:
      - "3301:3306"
  message_broker:
    image: 'rabbitmq:3.12.2-management'
    platform: 'linux/amd64'
    container_name: 'shoes-api-rabbitmq-atlantica-conf-2023'
    ports:
      - "5630:5672"
      - "8090:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=atlantica
      - RABBITMQ_DEFAULT_PASS=atlantica
    volumes:
      - ./docker/message_broker/rabbitmq.conf:/etc/rabbitmq/rabbitmq.config:ro
      - ./docker/message_broker/definitions.json:/etc/rabbitmq/definitions.json:ro
volumes:
  mysql-data: