[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
aiomysql = "*"
pyway = "*"
aiologger = "*"
pyxdi = "*"
anyio = "*"
python-ulid = "*"
pypika = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.8"
