[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = { extras = ["all"], version = "*" }
pyway = "*"
aiologger = "*"
pyxdi = "*"
anyio = "*"
python-ulid = "*"
pypika = "*"
databases = {version = "*", extras = ["aiomysql"]}

[dev-packages]
pytest-asyncio = "*"
pytest = "*"
httpx = "*"
Faker = "*"

[requires]
python_version = "3.8"
